<form 
    hx-post="{% url 'truck:create-admmission-form' %}" 
    hx-target="#admmission_list"
    hx-swap="beforeend"
    hx-on="htmx:afterRequest: this.remove()"
    hx-trigger="click from:#submit-all-admmissions"
>
    <div class="row">
        <div class="col-4 col-md-8">
            <label for="{{form.cab_no.id_for_label}}">{{form.cab_no.label}}</label>
            {{form.cab_no}}
        </div>
        <div class="col-4 col-md-2 align-self-end">
            <button class="btn btn-sm btn-dark"
            hx-on="click: this.closest('form').remove()">X</button>
        </div>
    </div>
</form>