{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3 class="mb-4 text-dark">Add Exiting Trucks</h1>

    <div id="exit-forms">
        {% include 'partials/exit_form.html' %}
    </div>

    <div class="my-4">
        <button class="btn btn-success md-2"
            hx-get="{% url 'truck:create-exit-form' %}"
            hx-target="#exit-forms"
            hx-swap="beforeend"
            >
            + Add Trucks
        </button>
        <button type='submit' class="btn btn-primary" id="submit-all-exits">Submit all</button>
    
    </div>
    
    <div id="report-area">
       *<b>INBOUND LOGISTICS RECEPTION UPDATE AT COB 6:00pm <span id="datetime"></span></b>* <br/>
       _The following trucks have been released and have exit as at 6:00pm <span id="datetime2"></span>_
       <br /> <br />
        <ol id="exit-list">
            {% for truck in exits %}
                {% include 'partials/exit_list.html' %} <br>
            {% endfor %}
        </ol>  
        <br/>

        FOs, take note. <br/><br/>

        Thank you. <br/>
       <b> _*{{request.user.first_name}} {{request.user.last_name}}*_ </b>

    </div>

    <script type="text/javascript">
        const today = new Date()
        const date = new Date(today)
        document.getElementById("datetime").innerHTML = date.toDateString();
        document.getElementById("datetime2").innerHTML = date.toDateString();

        function report(){
            var divblock = $('.report-area').text();
            window.open("https://api.whatsapp.com/send?text=" + divblock)
        }

        function copyText(){
            const info = document.getElementById('report-area').innerText;
            navigator.clipboard.writeText(info);

            alert('Copied!')
        }
    </script>

<div class="row">
    <div class="col col-md col-md-3">
        <div id="button" onclick="report()">
            <button class="btn btn-sm btn-success">Send to whatsapp</button>
        </div>
    </div>
    <div class="col col-md col-md-3">
        <div id="copy" onclick="copyText()">
            <button class="btn btn-sm btn-outline-dark">Copy to clipboard</button>
        </div>
    </div>
</div>
    
{% endblock content %}