{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h3>Ofice reporting tool</h3>
    
    <div class="card card-body m-3 item">
        <a href="{% url 'truck:admmission' %}">
            <h1>Workshop Admmission</h1>
        </a>
    </div>

    <div class="card card-body m-3 item">
        <a href="{% url 'truck:selection' %}">
            <h1>Workshop Selection</h1>
        </a>
    </div>
    
    <div class="card card-body m-3 item">
        <a href="{% url 'truck:exit' %}">
            <h1>Workshop Exit</h1>
        </a>
    </div>

    <div class="card card-body m-3 item">
        <a href="{% url 'admin:index' %}">
            <h1>View Admin</h1>
        </a>
    </div>
    
    <style>
        .item a{
            text-decoration:none;
            color:black;
            text-align:center;
            transition: 0.2s;
        }
        .item:hover{
            background:rgb(43, 41, 41);
            color:white;
        }
        .item:hover a{
            color:white;
        }
        .item{transition: 0.2s;}
    </style>

{% endblock content %}